* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #a13333 28%, #0f0f0f 28%);
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .image {
  margin: 0 100px 0 200px;
  width: 700px;
}

.container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .card {
  width: 250px;
  margin-bottom: 20px;
  cursor: pointer;
}

.container .card h3 {
  text-transform: uppercase;
}

.container .card img {
  margin: 20px 0 15px 0;
  overflow: hidden;
  border-radius: 10px;
  width: 250px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .card .text {
  margin: 5px 0;
}

