.header {
    display: flex;
    justify-content: space-between;
    .image {
        margin: 0 100px 0 200px;
        width: 700px;
    }
}

.container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
        width: 250px;
        margin-bottom: 20px;
        cursor: pointer;
        h3 {
            text-transform: uppercase;
        }
        img {
            margin: 20px 0 15px 0;
            overflow: hidden;
            border-radius: 10px;
            width: 250px;
            height: 350px;
            object-fit: cover;
            transition: all 0.2s;
            &:hover {
                transform: scale(1.1);
                transition: all 0.2s;
            }
        }
        .text {
            margin: 5px 0;
        }
        .star {
            color:rgb(241, 203, 78);
        }
    }
}
